* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, p, h1, h2, h3, h4, h5, h6, span, a {
    font-family: 'Inter', sans-serif !important;
  } 
@keyframes slide-top-bottom {
    from{
        opacity: 0;
        transform: translateY(80px);
        /* transform: scale(0.5); */
        /* scale:0.5; */
    }
    to{
        opacity: 1;
        transform: translateY(0px);
        /* transform: scale(1); */
        /* scale:1; */
    }
}
@keyframes slide-in {
    0%{
        transform: translateY(-90px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

body{
    background-color: #f8f8f8;
}
.image-heading{
    background-image: url("../images/nature.jpg");
    background-size: cover;
    margin-top: 120px;
    margin-bottom: 50px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
}
.image-heading h1{
    text-align: center;
    color: white;
    font-size: 50px;
    animation:slide-in 2s ease forwards;
}
.image-heading p{
    color: #878D97;
    padding: 0;
    animation:slide-in 2s ease forwards;
}

.faq-heading{
    height: 250px;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
   padding: 60px 150px 60px 150px;
   
}


.faq1 p{
    color: #f4cb1e;
    font-size: 24px;
    animation :slide-out 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.faq1 h1{
    color:#0e121d;
    font-size: 45px;
    margin: 15px 0 20px 0;
    animation :slide-out 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.faq1 span{
    display: inline-block; 
    color:#878D97;
    font-size: 16px;
    animation :slide-out 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.faq-heading img{
    height:250px;
    animation :slide-left 5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.faq-container {
    width:100% ;
    padding: 60px 150px 60px 150px;
}

.faq-item {
    margin-bottom: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
    
}

.question {
    font-size: 16px;
    padding: 15px;
    background-color:white;
    border: 1px solid #f8f8f8 ;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0e121d;
}

.answer {
    font-size: 16px;
    color: #878D97;
    line-height:1.6;
    text-align: justify;
    padding: 15px;
    background-color:white ;
    display: none;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    
}

.faq-item.active .answer {
    display: block;
    animation :slide-top-bottom 1s ease-in-out;
  
   
}

.faq-item.active .question {
    background-color: white;
    border-bottom: 1px solid #464443;/* Border with faded orange */
    color: #0e121d;
}


.faq-item.active .icon-toggle {
    color: #090c0a;
}

.icon-toggle {
    transition: transform 0.3s ease, color 0.3s ease;
}

@media (max-width: 700px){
    .image-heading{
        
        margin-top: 60px;
    }

    .image-heading h1{
        font-size: 35px;
    }
    .faq-heading{
        height: 250px;        
       padding: 30px 10% 30px 10%   ;
    }
    .faq1 p{
       
        font-size: 14px;
    }
    .faq1 h1{
        color:#0e121d;
        font-size: 20px;
        margin: 15px 0 20px 0;
    }
    .faq-heading img{
        height:100px;
       
    }
    .faq1 span{
        font-size: 13px;
    }
    .faq-container {
       padding: 30px;
        /* margin: 30px auto; */
    }
    
}