@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family:'Inter', sans-serif  ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body, p, h1, h2, h3, h4, h5, h6, span, a {
    font-family: 'Inter', sans-serif !important;
  }

.banner{
    width:100%;
    height:100% !important;
    margin-top: 150px;
}
.banner1{
    width:100%;
    height:100%;
}
.important-news{
    height: 400px;
    width: 100%;
    padding-left:120px ;
    padding-right: 120px;
    padding-top: 90px;
    padding-bottom: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.imp{
   
    height:80%;
    width:5%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.rotate{
    position: absolute;
  background-color: #f4cb1e;
  color: #ffffff;
  height: 9%;
  width: 15%;
  transform: rotate(-90deg); 
  text-align: center;
  padding-top: 1%;
  font-size: 20px;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.news{
    height: 100%;
    width: 95%;
    background-color: #f8f8f8;
    padding: 35px;
    line-height: 1.6;
    box-shadow: 2px 2px 3px 0px #d2d3d3;
    border-radius: 5px;
    text-align:justify ;
}
.news p{
   margin-bottom: 30px;
   color: #000000;
   font-weight: 600;
}
.news ul li{

    color: #787878;
 }

.download-home{
    height: 450px;
    width: 100%;
    padding: 30px 120px 60px 120px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.d-boxes{
    height: 100%;
    width: 32%;
    padding: 20px 30px 30px 30px;
    background-color: #f4cb1e;
    border-radius: 5px;
    line-height: 1.6;
}
.d-boxes h3{
    text-align: center;
    margin-bottom: 15px;
}
.d-boxes ul li{
    margin-top: 3%;
    text-align: justify;
    color: #ffffff;
}


/* 3nd slide  */
.gtinfocontainer{
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 60px 30px;
    
}
.gtdesc{
    height: 100%;
    width: 90%;
    background-color: white;
    padding: 0px 25px 0px 25px;
}

.home-gt-heading{
    color:#0E121D;
   text-align: center;
   margin-bottom: 40px;
   font-size: 23px;
  
 
}

.home-gr-desc{
    width: 100%;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.6;
    color: #787878;
   
}

.conference-track{
    height: 440px;
    width: 100%;
    background-color: #242323;
    display: flex;
    justify-content: space-between;
    align-items: flex-start ;
    padding: 50px 120px 90px 120px;
}
.conf-heading{
    width: 100%;
    background-color: #242323;
    padding: 90px 120px 0px 120px;
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.conf-tracks{
    height: 100%;
    width: 60%;
    /* background-color: orange; */
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
   
}
.small-box {
    width: 50%; /* Adjust as needed */
    height: 50%; /* Adjust as needed */
    margin-top: 20px;
    display: flex;
    align-items: flex-start ;
    justify-content: center;
   
   
}
.ailogo{
    margin-right: 20px;
}
.track-details{
    width: 100% ;
}
.track-details h3{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}
.track-details p{
    
    color: white;
   
}
.conf-photo{
    height: 100%;
    width: 35%;
    background-color: #f8f8f8;
}
.conf-photo1{
    position: relative;
    top: 20px;
    right: 20px;
    height: 87%;
    width: 100%;
}

/* publication */

#pub-heading{
    text-align: center;
    color: #0E121D;
    margin-bottom: 30px;
    margin-top: 90px;
}
.publication-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 30px;
    
}
.pub-desc{
    width: 100%;
    margin-right: 30px;
    text-align: justify;
    color: #878D97;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.6;

}
.pub-partners{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.partner-heading{
    text-align: left;
    color: #00B0F0;
    font-size:18px;
    font-weight: 600;
    margin-bottom: 0px;
}
.image-partner{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
}

.books{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
    height: auto;
    margin-bottom: 100px;
}
.firstb{
    height: auto;
    width: 200px;
    border: 1px solid rgb(209, 208, 208);
    overflow: hidden;
    position: relative;
   
}
.firstb:hover img{
    transform: scale(1.2);
    background-color: #37C871;
}
.secondb{
    height: 110%;
    width: 100%;
  
    overflow: hidden;
    position: relative;
    object-fit: cover;
    
    
}
.books-desc{
    text-align: center;
    font-family:'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color:#878D97;
    padding:5px 20px 5px 20px;
    z-index: 20; 
}
.books-desc:hover{
    background-color: #37C871;
    color: white;
}

.zoomout{
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.5s ease;

}

/* organizers */
.service{
    height: 340px;
    margin-bottom: 160px;
    padding-top: 40px;
    padding-bottom: 60px;
}
.servicetext{
    margin-top: 40px;
    height:50px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #f4cb1e;
}

.mf{
    background-color: #8e8f91;
    height:100px;
    /* display: flex;
    flex-direction: column; */
   
    align-items: center;
}

.organizers-button{
    font-family:'Inter', sans-serif;
    text-align: center;
    height: 40px;
    width: 150px;
    background-color: #f4cb1e;
    color: white;
    padding-top: 10px;
    margin: 0 auto;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.08), 0 1px 5px 1px rgba(0, 0, 0, 0.02);}
.organizers-button:hover{
    background-color: #000; 
}





@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 50px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    /* width: 250px; */
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos-slide {
    height: 150px;
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 80%;
    
    margin: 0 40px;
  }


@media (max-width: 700px) {
    .banner{
        margin-top: 80px;
    }
    .gtinfocontainer{
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0px 40px 0px 40px;
    }
    .gtdesc{
        height: 90%;
        width: 100%;
        padding: 0px 5px 0px 5px;
    }

    .home-gr-desc{
        font-size: 16px; 
    }
    .gt-points{
        font-size: 18px;
    }

     /* publication */
     .publication-container{
        
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        
    }
    .pub-img{
        height:60px;
       
    }

    .books{
        flex-direction: column;  
    }
    .firstb{
       margin-bottom: 30px;
       height: auto;
       width: 300px;
    }
 

      /* Organizers */
      .service{
        height: 250px;
     }
     .siptext{
        margin-top:70px;
        font-size: 40px;
     }
     .mf{
        height: 80px;
     }
    .logos{
        padding: 20px 0;
    }
    
    .servicetext{
        font-size: 16px;
       border: none;
    }

    .important-news{
        height: auto;
        width: 100%;
        padding-left:30px ;
        padding-right: 30px;
        flex-direction: column;
    }
    
    .imp{
      margin-bottom: 5%;
    }
    
    .rotate{
      height: 6%;
      width: 60%;
      padding-top: 6px;
      transform: rotate(0deg); 
    }
    .download-home{
        height: auto;
        width: 100%;
        padding: 30px 40px 60px 40px;
        flex-direction: column;
    }
    
    .d-boxes{
        height: 100%;
        width: 100%;
       margin-bottom: 30px;
    }
    .conference-track{

        height: auto;
        width: 100%;
        background-color: #242323;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start ;
        padding: 0px 40px 90px 40px;
      
        
    }
    .conf-heading{
        width: 100%;
        background-color: #242323;
        padding: 30px 30px 30px 30px;
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }
    
    .conf-tracks{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap; 
        justify-content: space-between; 
       
       
    }
    .small-box {
        width: 100%; /* Adjust as needed */
        height: 100%; /* Adjust as needed */
        margin-top: 40px;
    }

    .conf-photo{
        height: 150%;
        width: 100%;
        background-color: #f8f8f8;
        margin-top: 50px;
    }
    .conf-photo1{
        position: relative;
        top: 10px;
        right: 10px;
        height: 100%;
        width: 100%;
    }
 
    
  
  
}