@media only screen and (max-width: 480px) {


 .container {
   padding-left: 15px;
   padding-right: 15px;
   padding-left: 0 auto;
   padding-right: 0 auto;
  }

 body
 {
  display: block;
 }

 nav ul li a
{
  font-size: 15px;
}

  h1
  {
    font-size: 20px
  }

  h2
  {
    font-size: 20px;
  }

  h3
  {
    font-size: 16px;
  }


  p
  {
    font-size: 14px;
  }

  /*Header Styling*/

  #header .dark .left-top, .right-top
  {
    font-size: 15px;
  }

  #header .nav-bar-head-text
  {
    text-align: center;
    padding: 5px 0;  
  }

  #header .nav-bar-head-text p
  {
    font-size: 15px;
  }

  #header .nav-bar-head-text h1
  {
    font-size: 20px;
  }

  #header nav
  {
    padding: 13px 5px; 
  }

  #header nav ul li a
  {
    color: #0A2B6D;
    border: 1px solid #CCC;
    margin: 5px 0 0;
  }
  /*end:Header Styling*/

  /*Carousel Styling*/
  #carousel .carousel-inner .carousel-item img
  {
    width: 100%;
    height: 400px;
  }

  #carousel .carousel .carousel-inner .carousel-item .carousel-caption h1
  {
    font-size: 32px;
    padding: 0 0 80px;
  }

  #carousel .carousel .carousel-inner .carousel-item .carousel-caption h2
  {
    padding: 0 0 10px;
  }

  #carousel .carousel .carousel-inner .carousel-item .carousel-caption a
  {
    font-size: 13px;
  }

/*Information block*/

  #information .information-block
  {
    padding: 5px;
    background: #F1F1F1;
  }

  #other-information .other-information-block
  {
    padding: 5px;
  }

  #scientific-session .scientific-session-block
  {
    padding: 5px;
  }

  #scientific-committee .scientific-committee-block
  {
    padding: 5px;
  }

  #scientific-committee .scientific-committee-block .committee-members .member-image img
  {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  #speakers .speakers-block
  {
    padding: 5px;
  }

  #speakers .speakers-block .speakers-members .member-image img
  {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  #schedule .schedule-block
  {
    padding: 5px;
  }


  #bread-cumb .bread-cumb-page h1
  {
    font-size: 35px;
    color: #FFF;
  }

  #committe-members .committe-members-block
  {
    border: none;
  }

  #committe-members .committe-members-block:hover
  {
    box-shadow: none;
  }

  #committe-members .committe-members-block .committe-members-image img
  {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  #speaker .speakers-block
  {
    border: none;
  }

  #speaker .speakers-block:hover
  {
    box-shadow: none;
  }

  #speaker .speakers-block .speakers-image img
  {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  #important-dates .important-dates-block .dates-details
  {
    margin: 10px 0 0;
    height: 330px;
  }





  /*For the Footer*/

  #footer .footer .social-media-icons
  {
    text-align: center;
    margin: 10px 0 0;
    padding: 10px 0;
    font-size: 15px;
  }


}